!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %title Texterify
    = csrf_meta_tags
    = javascript_pack_tag 'application'
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_pack_tag 'application'
    %link{href: "https://fonts.googleapis.com/css?family=Ubuntu", rel: "stylesheet"}
    %link{href: "https://fonts.googleapis.com/css?family=Source+Code+Pro", rel: "stylesheet"}
  %body#app-root
    = yield
